<h1>Here are the bands performing at <%= @venue.name() %> </h1>
<hr>

<% if @venue.bands.any?() %>
  <% @venue.bands.uniq.each() do |band| %>
    <ul>
      <li><a href='/band/<%= band.id()%>'><%= band.name()%></a></li>
    </ul>
    <% end %>
<% else %>
  <h3>There are no bands playing at this venue</h3>
<% end %>

<form action='/venue/<%= @venue.id()%>' method='post'>
  <label for='add_band_to_venue'>Add a Band to this Venue</label>
  <select id ='add_band_to_venue' name='add_band_to_venue' type='text'>
    <% @bands.each() do |band| %>
      <option value= <%=band.id() %>> <%=band.name()%> </option>
    <% end %>
  </select>
  <button type='submit'>Add Band</button>
</form>

<form action='/venue/<%= @venue.id()%>/update' method='post'>
  <label for='update_venue_name'>Update the venue name</label>
  <input id='update_venue_name' name='update_venue_name' type='update_venue_name'>
  <button type='submit'>Update Venue Name</button>
</form>


<h4><a href='/venues/all'>Return to All Venues</a></h4>
<h4><a href='/'>Return Home</a></h4>
